body {
  background-color: #2574A9
}


.line-true {
  color: red;
  font-weight: bold;
}

.line-false {
  	text-decoration: line-through;
  	color: lightgrey;
}
<<<<<<< HEAD

.jumbotron {
  border-radius: 10px;
}
